Package: enigma2-plugin-extensions-ngsetting
Version: 1.5
Section: enigma2
Priority: optional
Architecture: all
Maintainer: m43c0,ftp21 & mmark <m43c0@live.it>
Description: NGsetting mod by Madhouse
Source: 
Homepage: 
OE: Enigma2 Plugin
